@charset "UTF-8";

div.menuLayout{
	width: 1100px;
	margin: 0 auto;
}

ul.menu {
	float: left;
	text-align: center;
}

ul.menu li{
	display: inline-block;
	text-align: center;
}

	#topmenu {
background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}