@CHARSET "UTF-8";

 ul.ClientMenu li{
        
		list-style: none;
		/* padding: 10px; */
		margin-bottom: 20px;		
		width: 180px;
		font-size: 20px;
		color: black;
		
	}  
	
	ul.ClientMenu a{
        		
		color: black;
		
	}  
	
	ul.ClientMenu a.ServiceDetail{
	
	     font-size: 14px;
	     color: gray;
	
	}
	
	 