@CHARSET "UTF-8";

div.FnQ a.active{
	
    background: #ac2f33;
    border: 1px solid #ac2f33;
    color: #fff;
    
}

div.FnQ a{
	
    float: left;
    display: block;
    width: 107px;
    height: 35px;
    margin-left: 5px;
    border: 1px solid #e6e6e6;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
}

/* a.li2.test{
	
	border: 1px solid #ac2f33;
	background-color: #ac2f33;
} */

div#disp>a.DetailAll.test{
	background-color: red;
}
     