@charset "UTF-8";
div.menu{
	position: absolute;
	left: 50%;
	margin-left: -590px;
}

ul.menu li{
	list-style: none;
	display: inline;
	cursor: pointer;
}

ul.menu li a{
	text-decoration: none; 
}